{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %} ">
    <title>Inicio</title>
</head>
<body>
    
<header>
    <img src="https://picsum.photos/120/120" alt="imagen">
    <ul>
        <li><a href="#">home</a></a></li>
        <li><a href="#">about</a></a></li>
        <li><a href="#">contact</a></a></li>
    </ul>
</header>    




<footer>
    <h2>footer</h2>


</footer>
</body>
</html>